@charset "UTF-8";

/*
----FONTS----

 Main font: font-family: 'Fira Sans', sans-serif;

----COLORS----

Dark blue: #0a3665
Bright blue: #096aaf
Bright red: rgb(230, 26, 77)
Bright red text: rgb(210, 57, 31)
*/

body{
    margin: 0;
}

p{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    margin: 0;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 25px 0 25px 0;
}

.header{
    background-color: #0a3665;
    display: flex;
    justify-content: center;
}

nav{
    display: flex;
    background-color: #096aaf;
    justify-content: center;
}

nav a, nav a:visited{
    padding: 10px 39.5px 10px 39.5px;
    text-decoration: none;
    color: white;
}

nav a:hover{
    color: white;
    background-color: #07548c;
}

h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

h5{
    font-family: 'Fira Sans', sans-serif;
}

.teamList{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.teamList img{
    max-height: 60px;
    max-width: 60px;
    margin-right: 25px;
}

.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 50px;
    grid-row-gap: 100px;
}

.shopItem p{
    color: rgb(210, 57, 31);
    font-size: 19px;
    margin-bottom: 10px;
}

em{
    color: black;
    font-size: 17px;
    opacity: 0.8;
    text-decoration: line-through;
}