@charset "UTF-8";

/*
----FONTS----

 Main font: font-family: 'Fira Sans', sans-serif;

----COLORS----

Dark blue: #0a3665
Bright blue: #096aaf
Bright red: rgb(230, 26, 77)
Bright red text: rgb(210, 57, 31)
*/

body{
    margin: 0;
}

p{
    font-family: 'Fira Sans', sans-serif;
}

h1{
    margin: 0 0 0 1rem;
    color: white;
    font-family: 'Fira Sans', sans-serif;
    text-align: center;
    padding: 25px 0 25px 0;
}

.header{
    background-color: #0a3665;
    display: flex;
    align-items: center;
    justify-content: center;
}

nav{
    display: flex;
    justify-content: center;
    background-color: #096aaf;
    display: grid;
    grid-template-columns: repeat(auto-fit, 10rem);
}   

nav a, nav a:visited{
    text-align: center;
    flex-shrink: 1;
    font-family: 'Fira Sans', sans-serif;
    padding: 15px;
    text-decoration: none;
    color: white;
    transition: background-color ease .5s;
}

nav a:hover{
    color: white;
    background-color: #07548c;
}


h3{
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
}

h5{
    font-size: 19px;
    font-family: 'Fira Sans', sans-serif;
}

.teamList{
    display: flex;
    align-items: stretch;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
    
}

.teamList{
    display: grid;
    grid-template-columns: repeat(auto-fit, 7rem);
}

.teamList img{
    max-height: 60px;
    height: auto;
    max-width: 100vw;
    /* width: auto; */
    margin-right: auto;
    margin-left: auto;
    transition: transform 0.1s ease-in-out;
}

.teamList img:hover{
    transform: translateY(-0.45rem) scale(1.06);
}

.container{
    display: grid;
    align-items: center;
    grid-template-columns: repeat(auto-fit,25rem);
    grid-column-gap: 20px;
    grid-row-gap: 50px;
    margin: 0;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.shopItem p{
    color: rgb(210, 57, 31);
    font-size: 25px;
    margin-bottom: 10px;
}


.shopItem img{
    width: 400px;
}

em{
    color: black;
    font-size: 20px;
    opacity: 0.8;
    text-decoration: line-through;
}

hr{
    margin: 2rem 10% 2rem;
    width: 80%;
}